@use'../../_base.scss' as *;

.sidebar{
  background: $black-secondary;
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 250px;
  height: 93vh;
  top: 7vh;
  padding-top: 0.5rem;
  font-weight: 500;
  z-index: 100;
  transition: all 0.2s ease;

  &:hover{
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &-header{
    display: none;
  }

  .simplebar-scrollbar::before{
    width: 8px;
    background: lightgrey;
  }

  .first{
    margin-left: 0.9rem;
  }

  hr{
    margin-right: 0.9rem;
  }

  a{
    color: white;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  li{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0.5rem 1.5rem 0.5rem 0.8rem;
    margin-left: 0.7rem;
    cursor: pointer;

    span{
      margin-left: 1.5rem;
      font-size: 0.9rem;
      letter-spacing: 0.4px;
    }

    &:hover{
      background-color: $black-category;
      margin-right: 0.9rem;
      border-radius: 8px;
    }
  }

  .sub{
    font-size: 1rem;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0px;
    cursor: text;
    &:hover{
      background: transparent;
    }
  }

  .more{
    color: darkgray;
    text-align: left;
    word-spacing: 5px;
    padding: 0 1.5rem 1rem;
    font-size: 0.85rem;
  }

  .copyright{
    color: lightgray;
    opacity: 0.5;
    word-spacing: 0;
    font-size: 0.85rem;
  }

  .transparent-bg{
    display: none;
  }
}

@media (min-width: $breakpoint-medium){
  .active-show{
    width: 70px;
    margin-left: 0.25rem;
    li{
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-left: 0;
      span{
        font-size: 0.6rem;
        margin-top: 0.5rem;
        margin-left: 0;
      }
      .subscribe{
        padding-left: 0.7rem;
      }
  
      &:hover{
        margin-right: 0;
      }
    }

    .none, hr{
      opacity: 0;
      display: none;
    }
  }

  .active-hide{
    display: none;
  }

  .hideSidebar{
    display: none;
    position: fixed;
  }

  .active-sidebar{
    display: flex;
  }
}

@media (max-width: $breakpoint-medium){
  .sidebar{
    background: rgba($black-primary, 0.4);
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 0;
    overflow: hidden !important;

    &-header{
      background: $black-primary;
      display: flex;
      align-items: center;
      width: 250px;
      height: 7vh;
      padding: 1rem;
      &-menu{
        padding: 0.3rem;
        cursor: pointer;
      }    
      &-tube{
        a{
          display: flex;
          align-items: center;
          color: white;
          font-size: 1.25rem;
          margin-left: 0.8em;
          text-decoration: none;
          &:hover{
            color: white !important;
          }
        }
        img{
          width: 30px;
          height: 20px;
          margin-right: 0.2rem;
        }
      }
      &-name{
        letter-spacing: -2.4px;
        font-family: 'Roboto';
      }
    }

    &-list{
      background: rgba($black-primary, 1);
      width: 250px;
      padding-top: 0.5rem;
    }

    .transparent-bg{
      display: flex;
      width: 100%;
    }
  }

  .more{
    margin-bottom: 4rem;
  }

  .active-show{
    display: flex;
    flex-direction: row;
  }

  .active-sidebar{
    display: flex;
  }
}

@media (max-width: $breakpoint-small){
  .sidebar{
    &-header{
      width: 200px;
    }
    &-list{
      width: 200px;
    }
  }
}