@use'../../_base.scss' as *;

.sidebar{
  background: $black-secondary;
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 250px;
  height: 93vh;
  top: 7vh;
  overflow: hidden;
  padding-top: 0.5rem;
  z-index: 100;
  transition: all 0.2s ease;

  &:hover{
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &-header{
    display: none;
  }

  .simplebar-scrollbar::before{
    width: 8px;
    background: lightgrey;
  }

  .first{
    margin-left: 0.9rem;
  }

  hr{
    margin-right: 0.9rem;
  }

  a{
    color: white;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  li{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0.6rem 1.5rem 0.6rem 0.8rem;
    margin-left: 0.7rem;
    cursor: pointer;

    span{
      margin-left: 1.5rem;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.4px;
    }

    .sub{
      font-size: 1rem;
      font-weight: 500;
      margin-left: 0px;
    }

    img{
      width: 25px;
      height: 20px;
    }

    &:hover{
      background-color: $black-category;
      margin-right: 0.9rem;
      border-radius: 8px;
    }
  }

  .more{
    color: darkgray;
    text-align: left;
    word-spacing: 5px;
    padding: 0 1.5rem 1rem;
    font-size: 0.85rem;
    font-weight: 500;
  }

  .copyright{
    color: lightgray;
    opacity: 0.5;
    font-size: 0.85rem;
    font-weight: 500;
  }
}

@media (min-width: $breakpoint-medium){
  .active-show{
    width: 70px;
    margin-left: 0.25rem;
    li{
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-left: 0;
      span{
        font-size: 0.6rem;
        margin-top: 0.5rem;
        margin-left: 0;
      }
      .subscribe{
        padding-left: 0.7rem;
      }
  
      &:hover{
        margin-right: 0;
      }
    }

    .none, hr{
      opacity: 0;
      display: none;
    }
  }

  .active-hide{
    display: none;
  }

  .hideSidebar{
    display: none;
    position: fixed;
  }

  .active-sidebar{
    display: flex;
  }
}

@media (max-width: $breakpoint-medium){
  .sidebar{
    background: $black-primary;
    display: none;
    position: fixed;
    &-header{
      .header-menu{
        &:hover{
          background: transparent;
        }
      }
    }
  }
  .active-show{
    display: flex;
  }

  .active-sidebar{
    display: flex;
  }
}