@use'../../base.scss' as *;

.categoriesBar{
  background: $black-secondary;
  font-size: 0.9rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  position: sticky;
  top: 7vh;
  width: 100%;
  padding: 0 !important;
  margin: 0.5rem 0 1.5rem 0;
  z-index: 50;
  scrollbar-width: none; //for firefox

  &::-webkit-scrollbar{
    display: none;
  }

  .arrow{
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    &-left{
      margin-right: 1rem;
    }
    &-right{
      margin-left: 1rem;
    }
    &:hover{
      background: $border-color;
      border-radius: 50%;
    }
  }

  .hide{
    display: none;
  }

  .bar{
    display: flex;
    padding-left: 0.7rem;
    overflow: hidden;

    span{
      color: white;
      margin-right: 1rem;
      padding: 0.3rem 0.8rem;
      white-space: nowrap;
      border: none;
      border-radius: 8px;
      background: $black-category;
  
      &:hover{
        background-color: #444848;
        cursor: pointer;
        transition: all 0.1s ease-in;
      }
  
      &.active{
        color: #000;
        background-color: #fff;
        border-color: $border-color;
      }
    }
  }
}