@import '../../base.scss';

.categoriesBar{
 padding: 0.5rem 0;
 font-size: 0.8rem;

 
color: white;
font-size: large;


 display: flex;
 overflow-x: scroll;

 background-color: $black-primary;
 position: sticky;
 top: 10vh;
 width: 100%;
 padding-top: 1rem;
 z-index: 999;

 
 &::-webkit-scrollbar{
  width: 0px;
 }
 scrollbar-width: none; //for firefox

 span{
  margin-right: 1rem;
  padding: 0.5rem;

  white-space: nowrap;
  border: 1px solid $text-color;
  border-radius: 999px;
  background: $black-category;

  &:hover{
   background-color: #444848;
   cursor: pointer;
   transition: all 0.1s ease-in;
  }

  &.active{
   color: #fff;
   background-color: #606060;
   border-color: $border-color;
  }
 }

}