@use'../../_base.scss' as *;

.relatedVideos {
  width: 100%;
  height: 100% !important;
  margin-bottom: 0.5rem !important;
  cursor: pointer;
  overflow: hidden !important;

  &-search-screen {
    margin-bottom: 1rem !important;
  }

  &-left {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 0.8rem 0 0 !important;
  }

  &-thumbnail {
    width: 100%;
    border-radius: 8px;

    &-wrapper {
      width: 100%;
    }
  }

  &-duration {
    background: #081818ec;
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
    padding: 0 0.2rem;
    font-size: 0.8rem;
    border-radius: 3px;
  }

  &-title {
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 0.1px;
    @include line-clamp(2)
  }
  &-font {
    font-size: 1.2rem;
  }

  &-details {
    font-size: 0.8rem;

    img {
      width: 25px;
      height: 25px;
      margin-right: 0.7rem;
      border-radius: 50%;
      cursor: pointer;
    }
    p {
      margin: 0;
    }
    .icon {
      display: flex;
      align-items: center;
      margin: 0.5rem 0 0.9rem 0; 
    }
    .spar {
      margin-right: 0.3rem;
      text-transform: uppercase;
    }
    .span {
      margin-left: 0.3rem;
    }
  }

  &-desc {
    font-size: 0.8rem;
    @include line-clamp(2)
  }
}

.search-screen {
  ::-webkit-scrollbar {
    display: none !important;
  }
}

@media (max-width: $breakpoint-medium) {
  .search-screen {
    max-width: 100% !important;
  }

  .relatedVideos {
    &-search-screen {
      margin-bottom: 2.5rem !important;
    }

    &-title {
      @include line-clamp(2)
    }
  }
}

@media (max-width: $breakpoint-small) {
  .relatedVideos {
    font-size: 0.8rem;

    &-desc {
      display: none;
    }

    &-title {
      font-size: 0.8rem;
      @include line-clamp(1)
    }
  }
}