@use'../../../_base.scss' as *;

.login{
  position: relative;
  height: 100vh;
  display: grid;
  background: $black;
  place-items: center;

  img{
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 1.5rem;
    margin: 0.5rem;
  }

  &-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button{
      background: #eedcbc;
      color: #000;
      padding: 0.3rem;
      margin: 1rem 0;
      border: none;
      border-radius: 8px;
      &:hover{
        background: #fff;
      }
      &:focus{
        outline: none;
      }
    }
  }
}