@use'../../_base.scss' as *;

.videoMetaData{
  font-size: 1rem;
  &-::-webkit-scrollbar{
    width: 0px;
  }

  &-top{
    font-weight: 500;
    p{
      color: #fff;
      font-size: 1.2rem;
    }
  }

  &-channel{
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    &-title{
      display: flex;
      flex-wrap: wrap;

      .heading{
        display: flex;
        .span{
          margin: 0 2em 0.3em 0.8em;
          font-weight: 500;
          .title{
            color: #fff;
            font-size: 1rem;
          }
          .subscribers{
            font-size: 0.8rem;
            span{
              text-transform: uppercase;
            }
          }
        }
      }

      .buttons{
        display: flex;
        align-items: center;

        .join{
          background: transparent;
          color: #fff;
          padding: 0.3em 1em;
          font-weight: 500;
          border: 0.1px solid $border-color;
          border-radius: 30px;
          &:hover{
            background: $border-color;
          }
          &:focus{
            border: none;
            outline: none;
          }
        }
    
        .btn{
          background: #fff;
          color: #000;
          padding: 0.3em 1em;
          margin-left: 0.5rem;
          border: none;
          border-radius: 30px;
          &.btn-gray{
            background: gray;
          }
          &:hover{
            background: lightgray;
          }
          &:focus{
            border: none;
            outline: none;
          }
        }
      }
    }

    .buttons-1{
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      button{
        background: $black-category;
        color: #fff;
        padding: 0.4em 1em;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        border: none;
        border-radius: 30px;
        &:hover {
          background: $border-color;
        }
        &:focus{
          border: none;
          outline: none;
        }
      }

      .line{
        margin: 0 0.5rem;
      }
    }
  }

  &-description{
    background: $black-category;
    color: #fff;
    padding: 0.8em;
    margin: 1rem 0;
    font-size: 0.9rem;
    white-space: pre-line;
    word-wrap: break-word;
    border-radius: 20px;

    .details{
      .views{
        text-transform: uppercase;
      }
    }

    .channel{
      border-top: 0.4rem solid $border-color;
      padding-top: 1rem;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }

      .span{
        margin-left: 0.8rem;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .button{
      margin-bottom: 3rem;
      button{
        background: transparent;
        color: #fff;
        padding: 0.4em 8em;
        margin-right: 0.8rem;
        margin-bottom: 0.8rem;
        font-size: 0.9rem;
        font-weight: 500;
        border: 0.1px solid $border-color;
        border-radius: 30px;
        &:hover{
          background: $border-color;
        }
        &:focus{
          border: none;
          outline: none;
        }
      }
    }

    .showMoreText{
      display: block;
      margin-top: 1rem;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

@media (max-width: $breakpoint-medium){
  .videoMetaData{
    font-size: 1rem;
  
    &-top{
      font-weight: 500;
      p{
        color: #fff;
        font-size: 1.2rem;
      }
    }
  
    &-channel{
      flex-direction: column;
      align-items: flex-start;

      &-title{
        margin-bottom: 1rem;
      }

      .join{
        display: none;
      }
    }

    &-description{
      .button{
        margin-bottom: 3rem;
        button{
          padding: 0.3em 5em;
        }
      }
    }
  }
}

@media (max-width: 200px){
  .videoMetaData{
    &-description{
      .button{
        button{
          padding: 0.25em 3.5em;
        }
      }
    }
  }
}