.comment {
  font-size: 0.9rem;
  img {
    width: 40px;
    height: 40px;
  }
  .span {
    margin-right: 1rem;
  }

  &-header {
    span {
      color: #fff;
      font-size: 0.85rem;
      padding-right: 0.2rem;
    }
  }

  &-text {
    color: #fff;
  }

  &-details {
    .like {
      margin-right: 1rem;
    }
    .reply {
      color: #fff;
      font-size: 0.9rem;
      margin-left: 1.7rem;
    }
  }
}