@use'../../_base.scss' as *;

.video{
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 3rem;
  cursor: pointer;

  &-top{
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 100%;

    .lazy-load-image-background {
      width: 100%;
    }

    img{
      width: 100%;
      border-radius: 12px;
    }
    
    &-duration{
      background: #080808bc;
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      padding: 0.15rem;
      font-size: 0.8rem;
      border-radius: 4px;
    }
  }

  &-descriptions{
    display: flex;
    margin: 0.8rem 0 0.5rem 0;

    &-channel{
      img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    &-details{
      &-video-title{
        color: #fff;
        font-size: medium;
        margin-bottom: 0.4rem;
        @include line-clamp(2)
      }

      &-views{
        .view-count{
          text-transform: uppercase;
        }
      }

      p{
        margin: 0 !important;
      }
    }
  }
}