@use'../../../_base.scss' as *;

.home{
  ::-webkit-scrollbar{
    display: none !important;
  }
}

@media (max-width: $breakpoint-medium){
  .home{
    width: 100%;
    &-videos{
      padding: 0 3rem !important;
    }
  }
}

@media (max-width: $breakpoint-small){
  .home{
    &-videos{
      padding: 0 !important;
    }
  }
}