@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

$text-color: #b1bdb4;

$black: black;
$black-primary: #16181b;
$black-secondary: #0d1015;
$border-color: #4c4c4c;
$black-category: #303131;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: $black-secondary;
  background-attachment: fixed;
  color: $text-color;
  letter-spacing: 0.1px;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(10px, 16px, 20px);

  @media (max-width: $breakpoint-medium){
    font-size: clamp(8px, 14.5px, 18px);
  }

  @media (max-width: $breakpoint-small){
    font-size: clamp(5px, 12px, 14px);
  }
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  height: 8px !important;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}