@use'../../../_base.scss' as *;

.watch-screen{
  padding: 1.4rem 0;
  width: 100%;
}

iframe{
  border-radius: 8px;
}

.watchScreen-player{
  height: 75vh;
  width: 100%;
}

.large-screen-hide{
  display: none;
}

@media (max-width: $breakpoint-medium){
  .watch-screen{
    padding: 1.4rem 1.5rem;
  }

  .watchScreen-player {
    height: 50vh;
  }

  .large-screen-hide{
    display: flex;
  }

  .small-screen-hide{
    display: none;
  }
}

@media (max-width: $breakpoint-small){
  .watchScreen-player {
    height: 35vh;
  }
}